@import 'tailwindcss';

body {
  font-family: Poppins, sans-serif;
  color: white;
  background: linear-gradient(to top, #101828 90%, #2563eb 100%);
  min-height: 100vh;
}

/* Estilo para navegadores basados en Webkit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
  background: #232a36;
}

::-webkit-scrollbar-thumb {
  background: #9fb8d2;
  border-radius: 8px;
  border: 21px solid #232a36;
}

::-webkit-scrollbar-thumb:hover {
  background: #4f6d8a;
}

/* Firefox */
* {
  scrollbar-color: #9fb8d2 #232a36;
}
